<form>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" />
    </div>
    <div>
       <button type="submit">Sign Up</button>
    </div>
    <div>
        <a href="/login">Already a User: Login</a>
    </div>
</form>

<script src="/js/signup.js"></script>